<div [formGroup]="form" class="grid grid-cols-3 gap-5">
  <app-amount-controller
    label="amount"
    formControlName="amount"
  ></app-amount-controller>
  <app-date-controller
    label="date"
    formControlName="date"
    [maxDate]="dateLimit()['max']"
    [minDate]="dateLimit()['min']"
  >
  </app-date-controller>
  <app-status-controller
    label="status"
    formControlName="status"
  >
  </app-status-controller>
  <app-fund-controller
    label="fund"
    formControlName="fund"
  >
  </app-fund-controller>
</div>
<div class="w-full flex justify-end items-center gap-2 mt-5">
  <a routerLink="../image" pButton pRipple label="Image" icon="pi pi-angle-left" iconPos="left" ></a>
  <p-button [disabled]="form.invalid" routerLink="../people" pRipple label="People" icon="pi pi-angle-right" iconPos="right" ></p-button>
</div>
