<ng-container *ngIf="peopleService.people$ | async as data" >
  <p-table [value]="data" [rowHover]="true">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Avatar</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th>Email</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-people>
      <tr>
        <td>
          <p-radioButton name="groupname" #radioButton [value]="people" [(ngModel)]="selectedPeople" (click)="updateStoreOnPersonSelect()"></p-radioButton>
        </td>
        <td>{{people.id}}</td>
        <td>
          <p-image width="50" [preview]="true" [src]="people.avatar" [alt]="people.name"></p-image>
        </td>
        <td>{{people.name}}</td>
        <td>{{people.email}}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
<p-panel styleClass="my-5" *ngIf="isPeopleSelected" header="Selected Person" [toggleable]="true">
  <div class="flex gap-5 items-center">
    <p>{{selectedPeople.id}}</p>
    <p>{{selectedPeople.name}}</p>
    <p-image width="50" [preview]="true" [src]="selectedPeople.avatar"
             [alt]="selectedPeople.name"></p-image>
    <p>{{selectedPeople.email}}</p>
  </div>
</p-panel>
<div class="w-full flex justify-end items-center gap-2 mt-5">
  <a routerLink="../fields" pButton pRipple label="Fields" icon="pi pi-angle-left" iconPos="left" ></a>
  <p-button [disabled]="!selectedPeople" routerLink="../summary" pRipple label="Summary" icon="pi pi-angle-right" iconPos="right" ></p-button>
</div>
