<ng-container *ngIf="store | async as store">
  <div class="flex flex-col gap-5">
    <p-panel header="Image" [toggleable]="true">
      {{store.wizard.image[0].name}}
    </p-panel>
    <p-panel header="Fields" [toggleable]="true">
      <div class="flex gap-5 items-center">
        <p>{{store.wizard.fields.amount}}</p>
        <p>{{store.wizard.fields.fund}}</p>
        <p>{{store.wizard.fields.status | json}}</p>
        <p>{{store.wizard.fields.date | date}}</p>
      </div>
    </p-panel>
    <p-panel header="People" [toggleable]="true">
      <div class="flex gap-5 items-center">
        <p>{{store.wizard.people.id}}</p>
        <p>{{store.wizard.people.name}}</p>
        <p-image width="50" [preview]="true" [src]="store.wizard.people.avatar"
                 [alt]="store.wizard.people.name"></p-image>
        <p>{{store.wizard.people.email}}</p>
      </div>
    </p-panel>
  </div>
</ng-container>

<div class="w-full flex justify-end items-center gap-2 mt-5">
  <a routerLink="../people" pButton pRipple label="People" icon="pi pi-angle-left" iconPos="left"></a>
</div>
